<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
  <div style="margin:50px auto;width:70%;padding:20px 0">
    <div style="border-bottom:1px solid #eee">
      <a href="" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">Welcome to Exclusive</a>
    </div>
    <p style="font-size:1.1em">Hi {{detail.full_name}},</p>
    <p>Thank you for joining Exclusive, your go-to destination for exclusive products and amazing deals!
     </p> <strong>Exclusive</strong></p>
    <h2 style="background: #00466a;margin: 0 text-align: center;width: max-content;padding: 0              10px;color: #fff;border-radius: 4px;"> Here's what you can expect:
  </h2>
    <ul style="color: #666">
            <li>Discover a curated selection of high-quality products.</li>
            <li>Get exclusive access to limited-time offers and promotions.</li>
            <li>Enjoy a seamless shopping experience with our user-friendly platform.</li>
        </ul>
     <p style="color: #666;">
            If you have any questions or need assistance, feel free to reach out to our customer support team.
        </p>

        <h1 style="color: #666;">
            Happy shopping!
        </h1>
    <p style="font-size:0.9em;">Regards,<br />Exclusive</p>
    <hr style="border:none;border-top:1px solid #eee" />
    <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
      <p>Exclusive Inc</p>
      <p>1600 Okhla-Delhi</p>
      <p>India</p>
    </div>
  </div>
</div>